{% extends 'page.html' %} 

{% block meta %}<meta name="robots" content="NOINDEX, NOFOLLOW">{% endblock %}

{% block page_title %}
    <h1>{{ _("History of %(title)s", title=title) }}</h1>
{% endblock %}
{% block title %}{{ _("History of %(title)s", title=title) }} - {{ wiki.site_name }}{% endblock %}

{% block content %}
    <p>{{ _("History of changes for %(link)s.", link=page.wiki_link(title)|safe) }}</p>
    <form action="{{ url(title, 'undo', method='POST') }}" method="POST">
        <ul id="hatta-history">
            {% for date, date_url, rev, last_rev, author, comment in history %}
                <li><a href="{{ date_url }}">{{ date_html(date)|safe }}</a>
                {% if edit_url %}
                <input class="button"
                       type="submit" name="{{ last_rev }}" value="{{ _('Undo') }}">
                {% endif %}
                . . . .
                <i>{{ page.wiki_link('~%s' % author, author)|safe }}</i>
                <div class="hatta-comment">{{ comment }}</div></li>
            {% endfor %}
        </ul>
        <input type="hidden" name="parent" value="{{ parent_rev }}">
    </form>
{% endblock %}
